@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.container{
    max-width: 1180px;
    width: 1180px;

}

.container_color{
    background-color: #FCFCFC;
}



.header{
    font-size: 16px;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1C1C2C;
    color: #FFFFFF;

}

.header_flex{
    display: flex;
    justify-content: space-between;
}
.header_logo{
    margin-top: 5px;
}
.header__menu_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 530px;
    padding-top: 5px;

}

.header__menu_content a{
    text-decoration: none;
    color: white
}
.header__menu_login{
    margin-top: 21px;

}

.header__menu_login nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu_enter{
    font-size: 11px;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 5px;
}



.content{
    display: flex;
    padding-top: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.content_title{
    padding-top: 50px;
    padding-left: 20px;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
}

.content  h2{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    margin: 5px 0 10px 12px
}
.content__articles_single_title{

    margin-left: 40px;
    /*width: 660px;*/
    /*max-width: 600px;*/
    /*word-break: break-all;*/

}
.content__articles{
    display: flex;
    flex-direction: row;
    /*padding-left: 46px;*/
    justify-content: space-between;
    /*justify-content: space-evenly;*/

}
.content_test{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    justify-content: space-evenly ;

}
.content__articles_single{
    max-width: 700px;

    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content__articles_single > p{
    margin-left: 55px;
}
.content__articles_single_date-button{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.content__articles_single_button{
    width: 185px;
    height: 39px;
    background: #FFA500;
    border-radius: 22px;
    border: none;

    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

}
.content__articles_single_button:hover, .content__articles_single_button:active{
    background-color: #3DBCB4;
    cursor: pointer;
}
.content__articles_single_date-button > p{
    margin-left: 22px;
    padding-bottom: 5px;
}

.content__articles_single img {
    max-width: 590px;
    max-height: 390px;
    padding-left: 55px;
    padding-right: 50px;
}


.content__best-articles{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: rgba(28, 28, 44, 0.84);;

    margin-top: 100px;
    color: #FFFFFF;
}

.content__best-articles > h2{
    margin: 29px 10px;
    font-size: 34px;

    font-style: normal;
    font-weight: bold;
    line-height: 40px;


}

.content__best-articles_single > img{
    width: 315px;
    height: 180px;
    margin: 10px;
}

.content__best-articles_single > p{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
}
.content__best-articles_single > p:nth-child(3){
    font-size: 10px;

}


.content__best-articles_single a{
    text-decoration: none;
    color: white;
}

.content__best-articles_single a:hover{
    color: orange;
}


@supports (display: flex) {
    @media (max-width: 1150px){
        .content__best-articles{
            margin-left: 20px;
        }
    }
    @media (max-width: 950px) {
        .content__best-articles {
            display: none;
        }
    }
}

.footer{
    margin-top: 175px;
    max-width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1C1C2C;

}

.footer_social_net{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_social_net p{
    color: #B4B2B2;
;
}

.footer_social_net h3{
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 18px;
    color: #FFFFFF;
}

.footer_social_net img {
    width: 32px;
    height: 32px;
    margin-right: 11px;
    margin-top: 10px;
}
.footer_social-net_personal{

}

.footer_social-net_personal_inst{
    display: flex;

    align-items: flex-start;
    flex-direction: row;
}

.footer_social-net_personal_vk{
    display: flex;
    flex-direction: row;
}

.footer_border{
    border: 1px solid #808080;
    margin-top: 40px;
    margin-bottom: 32px;
}


.footer__middle{
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer__middle_button{
    width: 190px;
    height: 60px;
    background: #000000;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.footer__middle_button:hover{
    background: #3DBCB4;
}

.footer_bottom > p{
    color: #808080;
}